@tailwind base;
@tailwind components;
@tailwind utilities;
/* Angular Material Overlay FIX */
.cdk-overlay-container {
  z-index: 10000 !important;
  pointer-events: auto !important;
}

.cdk-overlay-pane {
  pointer-events: auto !important;
}
